:root {
    --bs-body-font-family: 'Roboto', sans-serif;
    --template-primary-color: #023B6D;
    --template-secondary-color: hsl(208, 89%, 28%); 
    --template-footer-color: #A9A9A9;
    --primary-color: #023B6D;
    --secondary-color: #56595c;
    --secondary-color-hover: #a4aeb8;
    --bs-text: #fff;
  }
  


header {
    height: 56px;
    background: var(--template-primary-color); 
    color: var(--bs-text);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050; 
    display: flex;
    align-items: left;
    padding: 0 15px;
}

#toggleSidebar {
    background: transparent;
    border: none;
    color: var(--bs-text);
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.logo-app {
    width: 1186px;
}

@media (max-width: 768px) {
    .logo-app {
        width: 387px;
    }
}

footer {
    height: 50px; 
    background: var(--template-footer-color); 
    color: var(--bs-text);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 250px; 
    height: calc(100vh - 106px); 
    background: var(--template-secondary-color); 
    position: fixed;
    top: 56px; 
    left: 0;
    z-index: 1040; 
    overflow-y: auto;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: left; 
}


.sidebar .nav-link {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.sidebar .nav-item {
    margin-top: 15px;
}

.sidebar.collapsed .nav-item {
    margin-top:  15px;
}

.sidebar.collapsed {
    width: 80px; 
}

.sidebar .nav-link span {
    transition: opacity 0.3s;
    margin-left: 10px;
}

.sidebar.collapsed .nav-link span {
    opacity: 0;
    visibility: hidden;
}

.content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 56px; 
    margin-bottom: 50px; 
    transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .content {
    margin-left: 80px; 
}

.bg-primary-custom {
    background-color: var(--primary-color) !important;
  }
  
  .text-primary-custom {
    color: var(-bs-text) !important;
  }
  
  .btn-primary-custom {
    background-color: var(--primary-color) !important;
    color: var(--bs-text) !important;
  
  }
  
  .btn-primary-custom:hover {
    background-color: var(--primary-color-hover) !important;
    color: var(--bs-text) !important;
  }
  
  .btn-secondary-custom {
    background-color: var(--secondary-color) !important;
    color: var(--bs-text) !important;
  }

/* Spinner.css */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .spinner-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  